<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">


    <insert id="insertBatch">
        INSERT INTO order_detail (order_id,dish_id, setmeal_id, dish_flavor, name, number, amount, image)
        VALUES
        <foreach collection="orderDetails" item="o" separator=",">
            (#{o.orderId},#{o.dishId}, #{o.setmealId}, #{o.dishFlavor}, #{o.name}, #{o.number}, #{o.amount}, #{o.image})
        </foreach>
    </insert>
    <select id="getSalesTop10" resultType="com.sky.dto.GoodsSalesDTO">
        SELECT od.name        as name,
               SUM(od.number) AS number
        FROM order_detail od
                 JOIN
             orders o ON od.order_id = o.id
        WHERE o.status = 5
          and o.order_time BETWEEN #{begin} AND #{end}
        gROUP BY od.name
        ORDER BY number DESC
        LIMIT 0,10
    </select>


</mapper>